Markdown==3.3.4
tzlocal==2.1
numpy==1.19.5
yfinance==0.1.62
tabulate==0.8.9
matplotlib==3.4.2
cufflinks==0.17.3
lxml==4.6.2
plotly==5.1.0
yahoo_fin==0.8.8
streamlit==0.84.0
alpha_vantage==2.3.1
pandas==1.2.4
requests==2.25.1
beautifulsoup4==4.9.3
