plotly==5.1.0
numpy==1.19.5
yfinance==0.1.62
requests==2.25.1
alpha_vantage==2.3.1
streamlit==0.84.0
Markdown==3.3.4
lxml==4.6.2
yahoo_fin==0.8.8
cufflinks==0.17.3
tzlocal==2.1
tabulate==0.8.9
pandas==1.2.4
matplotlib==3.4.2
html5lib==1.1
beautifulsoup4==4.9.3
